# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
.env

# Ignore test and development files
tests/
*.log

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore version control directories and files
.git
.gitignore

# Ignore IDE-specific files
.idea/
.vscode/

