annotated-types
anyio
astroid
certifi
charset-normalizer
click
coverage
dill
dnspython
docker
email_validator
execnet
fastapi
fastapi-cli
flake8
h11
httpcore
httptools
httpx
idna
iniconfig
isort
Jinja2
Mako
markdown-it-py
MarkupSafe
mccabe
mdurl
packaging
parse
parse-type
platformdirs
pluggy
psycopg2
psycopg2-binary
pycodestyle
pydantic
pydantic-settings
pydantic_core
pyflakes
Pygments
pylint
pytest
pytest-bdd
pytest-xdist
python-dotenv
python-multipart
PyYAML
requests
rich
setuptools
shellingham
six
sniffio
SQLAlchemy
sqlmodel
starlette
structlog
testcontainers
testcontainers-core
testcontainers-postgres
tomlkit
typer
typing_extensions
urllib3
uvicorn
uvloop
watchfiles
websockets
wrapt